body {
  font-family: courier;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

#wrapper {
  text-align: center;
  margin: 100px auto;
  width: 690px;
  background: #ffffff;
  overflow: hidden;
  border: 1px solid #dddddd;
  padding: 20px;
}

#repo-name {
  font: 30px courier;
  width: 100%;
  height: 50px;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #dddddd;
}

#repo-graph {
  cursor: pointer;
}

.cell, .cell-empty {
  position: relative;
  width: 11px;
  height: 11px;
  border: 1px solid #ffffff;
}

.cell {
  background-color: #eeeeee;
}

.cell:hover {
  border: 1px solid #999999;
}

.week-col {
  float: left;
}
